<div class="container">
    <div class="inner">
        <button class=" btn btn-default brandBtn" (click)="onSignInGoogle()" style="background-color: #db3236"><i class="fa fa-google brandIcon" ></i>Sign In </button> <br><br>
        <button class=" btn btn-default brandBtn" (click)="onSignInGithub()" style="background-color: #333"><i class="fa fa-github brandIcon"></i>Sign In </button> <br><br>
        <button class=" btn btn-default brandBtn" (click)="onSignInTwitter()" style="background-color: #00aced"><i class="fa fa-twitter brandIcon"></i>Sign In </button> <br><br>
        <button class=" btn btn-default brandBtn" (click)="onSignInFacebook()" style="background-color: #3B5998"><i class="fa fa-facebook brandIcon"></i>Sign In </button> <br><br>
    </div>
</div>
